 <header class="encabezado">
  <img src="https://m.media-amazon.com/images/I/6102BFmuaoL._AC_SX679_.jpg" alt= 'Serie LoKi' class="profile-picture">
  <h1> <b> SERIE: LOKI </b> </h1>
 </header>

  <section class="sectionHistoria">
    <h2>Historia</h2>
    <p> La serie de Loki en Disney+ presenta al Dios de las travesuras interpretado por Tom Hiddleston 
      causando todo tipo de caos en la línea temporal del UCM. Pero, ¿cuándo tienen lugar sus 
      acontecimientos? La respuesta corta es que Loki ocurre justo después de la batalla de Nueva York 
      (como se ve en Vengadores y más tarde en Vengadores: Endgame)</p>
  </section>


    <section class="sectionMotivos">
      <h2> Motivos por los que me gusta</h2>
      <ul> 
        <li> Enlace con otras películas de Marvel</li>
        <li> Creatividad de los personajes</li>
        <li> Guiones Interesantes </li>
        <li> Comedia , ciencia ficción</li> 
      </ul> 
      <h2> Personajes</h2>
      <ul> 
        <li> Elenco </li>
        <li> TVA </li>
        <li> Loki </li>
        <li> Mobious </li>
        <li> Sylvie </li>
      </ul>
    </section>

  
  <section class = 'sectionSimilares'>
    <h2> Otras Peliculas o series similares </h2>

        <div class = 'tarjetagris'> <h3> Thor (2011)</h3>
          <p> Tras desatar una antigua guerra, el codicioso guerrero Thor es desterrado a la Tierra por su padre para que viva 
            entre los hombres y descubra así el verdadero sentido de la humildad. Allí, sin sus poderes, Thor deberá enfrentarse 
            a las fuerzas más oscuras que su mayor enemigo le enviará desde Asgard.
          </p>
        </div>

      <div class = 'tarjetagris'> <h3>The Avengers (2012)</h3>
        <p> Loki, el hermano de Thor, que sigue empeñado en vengarse del señor del trueno, recurre a un intermediario de Thanos 
          para que le ayude a destruir la Tierra, el mundo bajo la protección de Thor. Thanos le entrega el Cetro (que esconde 
          la Gema de la Mente) y el mando de unas legiones de criaturas llamadas Chitauri a cambio de que le consiga el Teseracto.</p>
      </div>
    
  </section>


