
/* body {
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color: black;
} */

.encabezado {
  text-align:center;
  color:rgb(202, 241, 221)
  font-weight bold;
  margin: 0;
  padding: 0;
  background-color: rgb(32, 77, 32);
}

.profile-picture{
border-radius: 50%;
border-color:white;
border: 5px solid;
width: 100 px;
height: 100px;
display:block;
margin: auto
}

.sectionHistoria{
margin:25px 20px;
padding:10px;
background-color:white;
border-radius: 5%;
 
}

.sectionMotivos{
    margin:25px 20px;
    padding:10px; 
    background-color:white;
    border-radius: 5%;
    }

.sectionSimilares{
    margin:25px 20px;
    padding:1rem;
    background-color:white;
    border-radius: 5%;
    }

 .tarjetagris{
    margin:10px;
    padding:10 px;
    background-color:gray;
    cursor:pointer
 }


.sectionHistoria:hover{
    scale: 1.01;
    font-weight: bolder;
    background-color: purple;
    color: white;
    transform: translateY(-1px);
    box-shadow: 30px 30px 30px rgba(201, 71, 116, 0.958);
}

.sectionMotivos:hover{
    scale: 1.01;
    font-weight: bolder;
    background-color: purple;
    color: white;
    transform: translateY(-1px);
    box-shadow: 30px 30px 30px rgba(201, 71, 116, 0.958);
}


.tarjetagris:hover{
    scale: 1.01;
    font-weight: bolder;
    background-color: red;
    color: white;
    transform: translateY(-1px);
    box-shadow: 30px 30px 30px rgba(195, 83, 83, 0.816);
}
