<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SeriesApp</title>

  <style>
    body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb();
    }

    header {
      text-align:center;
      color:rgb(22, 224, 39);
    }

  .profile-picture{
    border-radius:25%;
    display:block;
    margin: auto;
  }
  .section{
    margin:auto;
    padding:1rem;
    background-color:rgb(255, 255, 255);
  }

  .card:hover{
    cursor:pointer;
  }
</style>
</head>

  
<header>
  <img src="https://i.blogs.es/c16c8e/200721-loki/1366_2000.jpeg" class="profile-picture">
  <h1>LOKI</h1>
</header>

  <section class="sectionHistoria">
    <h1>Historia</h1>
    <p> La serie de Loki en Disney+ presenta al Dios de las travesuras interpretado por Tom Hiddleston causando todo tipo de caos en la línea temporal del UCM. Pero, ¿cuándo tienen lugar sus acontecimientos? La respuesta corta es que Loki ocurre justo después de la batalla de Nueva York (como se ve en Vengadores y más tarde en Vengadores: Endgame)</p>
  
  </section>
    <section class="sectionSimilares">
      <h1> Otras Peliculas o series similares </h1>
      <ul> Avengers </ul>
      <ul> Thor </ul>
  </section>

    </html>
