
/* body {
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color: black;
} */

header {
  text-align:center;
  color:rgb(255, 253, 253);
}

.profile-picture{
border-radius: 50%;
border-color: azure;
border: 5px solid;
width: 100 px;
height: 100px;
display:block;
margin: auto
}

.sectionHistoria{
margin:auto;
padding:1rem;
background-color:white;
border-radius: 15%;
 
}

.sectionMotivos{
    margin:auto;
    padding:1rem;
    background-color:white;
    border-radius: 15%;
    }

.sectionSimilares{
    margin:auto;
    padding:1rem;
    background-color:white;
    border-radius: 15%;
    }

 .tarjetagris{
    margin:auto;
    padding:10 px;
    background-color:gray;
    cursor:pointer
 }


.sectionHistoria:hover{
    scale: 1.01;
    font-weight: bolder;
    background-color: purple;
    color: white;
    transform: translateY(-1px);
    box-shadow: 30px 30px 30px;
}

.sectionMotivos:hover{
    scale: 1.01;
    font-weight: bolder;
    background-color: purple;
    color: white;
    transform: translateY(-1px);
    box-shadow: 30px 30px 30px;
}


.tarjetagris:hover{
    scale: 1.01;
    font-weight: bolder;
    background-color: red;
    color: white;
    transform: translateY(-1px);
    box-shadow: 30px 30px 30px;
}
