<header>
  <img src="https://m.media-amazon.com/images/I/6102BFmuaoL._AC_SX679_.jpg" alt= 'Serie LoKi' class="profile-picture">
  <h1> SERIE: LOKI</h1>
</header>

  <section class="sectionHistoria">
    <h2>Historia</h2>
    <p> La serie de Loki en Disney+ presenta al Dios de las travesuras interpretado por Tom Hiddleston 
      causando todo tipo de caos en la línea temporal del UCM. Pero, ¿cuándo tienen lugar sus 
      acontecimientos? La respuesta corta es que Loki ocurre justo después de la batalla de Nueva York 
      (como se ve en Vengadores y más tarde en Vengadores: Endgame)</p>
  </section>


    <section class="sectionMotivos">
      <h2> Motivos por los que me gusta</h2>
      <ul> 
        <li> Enlace con otras películas de Marvel</li>
        <li> Creatividad de los personajes</li>
        <li> Guiones Interesantes </li>
        <li> Comedia , ciencia ficción</li> 
      </ul> 
      <h2> Personajes</h2>
      <ul> 
        <li> Elenco </li>
        <li> TVA </li>
        <li> Loki </li>
        <li> Mobious </li>
        <li> Sylvie </li>
      </ul>
    </section>

  
  <section class = 'sectionSimilares'>
    <h2> Otras Peliculas o series similares </h2>
    <ul> 
      <li> Thor (2011)  </li> 
      <li>Los Avengers (2012) </li> 
      <li>Avengers: Infinity War (2018) </li>
      <li>Avengers: Endgame (2019) </li>
      <li>Loki - Temporada 1 (2021) </li>
      <li>Ant-Man and the Wasp: Quantumania (2023)</li> 
    </ul>
  </section>


