/* You can add global styles to this file, and also import other style files */
body {

    background-image:url(https://wall.alphacoders.com/big.php?i=1329244);
    background-size: 100% 100%;

    /* Fijar la imagen de fondo para que no se desplace con el contenido */
    background-attachment: fixed;
  
    /* Centrar la imagen de fondo */
    background-position: center;
  
} 

/* body {
    font-family: 'Arial', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    object-fit: cover; 
    background-image:url(https://wall.alphacoders.com/big.php?i=1329244);
} 
 */
